[2016-10-01 08:47] rahulserver opened #6 "How to get selected elements?"
I tried this plugin. The only issue which I see is that when we move the items from source to destination list, the `confirmed ` array(in demo-app.component.ts) is always empty.

Here is my revised demo-app.component.ts to test this:

[code]

So am I doing it wrong somewhere? Or what is the way to get the selected elements in confirmed array?

[2016-10-01 08:53] rahulserver commented on #6
OK I found out that simply dragging an item and dropping to the other list does not update the confirmed array. We need to press the add button.
I think this is confusing. If simply dragging the item from source to destination array does not update the confirmed list then it should not be allowed or the confirmed list should contain the items.

[2016-10-01 10:23] czeckd commented on #6
Thanks! There was an issue with drag-and-drop and not updating the confirmed array.

I have made a change to the demo and [dual-list.component.ts](https://github.com/czeckd/angular2-dual-listbox/blob/34481944509541698bc0d264db98b2aeef188924/app/dual-list.component.ts) to trueUp after a drag-and-drop.

[2016-10-01 10:59] rahulserver commented on #6
@czeckd thanks for the extremely quick fix!
Really the change works as expected.

I also issued a new pull request for another issue. Kindly review that.

I am enjoying your plugin so thank you very much! :)

[2016-10-01 10:59] #6 closed

[2016-12-14 16:06] isaac2004 opened #11 "Changing key/display breaks moving"
If I set the key and display parameters, the destination list does not show up in the ui. It seems to be around the the filter that finds the item is using a "this" property which is not in scope. If I modify it to pass in the property, moving items between lists does not work

[2016-12-14 21:15] czeckd commented on #11
Thanks. You uncovered a problem with the `findItemIndex` method when comparing items the source list to the internal lists. I believe I have the issue resolved now in the main branch if you could confirm the fix works for your use case.

[2016-12-14 23:16] isaacrlevin commented on #11
Looks like it worked, issue closed!

[2016-12-14 23:16] #11 closed

[2016-12-20 14:38] isaac2004 opened #13 "Update destination from parent component"
I am trying to set the destination of the component from the parent and it is not updating properly. Basically I want to be able to "reset" the destination if the user does not save (for instance hitting close at the top). What I am seeing is the this.confirmed object is not being updated because it is populated only from the component itself. Is there an easy way to reset the destination ad-hoc?

[2016-12-20 17:12] czeckd commented on #13
I'm guessing that you're assigning a new destination array on the parent rather than removing elements from the original destination array? Try making this change to allow that to work:

[code]

[2016-12-20 18:43] isaacrlevin commented on #13
I was able to do it by iterating over this.destination in the updatedestination() method. Are there caveats to doing it this way?

[2016-12-21 09:16] czeckd commented on #13
On the surface without seeing the code, my hunch is that it may be inefficient. But if it works for what you need, then that's half the battle. Did you happen to give the patch a try?

[2016-12-25 18:15] DILEEPKUMAREBIX commented on #13
I have the same problem.
When i updating the destination array from parent component it is not properly updating, previous values are not clearing.
My Case:
I am updating destination from parent component on "comb box"(one element in parent component) selection change.

[2016-12-25 18:17] DILEEPKUMAREBIX commented on #13
@isaac2004  "I was able to do it by iterating over this.destination in the updatedestination() method. "
May i know what you did exactly?

[2016-12-27 00:21] czeckd commented on #13
I modified the [demo](https://czeckd.github.io/angular2-dual-listbox/demo/) to show how it works with programmatic changes to the arrays in the parent component. The `dual-list.component.ts` was also updated per my patch above.

If the changes aren't working for your use case, please fork and modify with your use case or post some sample code demonstrating the problem. Thanks.

[2017-03-13 10:59] barmmie opened #16 "Dynamically updating source causes duplicate destination"
Hi,

Thanks for your work on this. I have an issue i would like some help with at your convenience.

I have tried to implement a ajax search to the listbox that allows the user to search and update the source with the results.
However whenever i make a new ajax search this causes the destination to duplicate and i can't seem to figure out why.

Any pointers would be helpful.
Thanks

[2017-03-14 00:09] czeckd commented on #16
A little more detail would be helpful since without the code, I can only guess.

Where are you doing the search? Outside the ``DualListComponent`` or did you modify the component to add search? Does the source array input to the ``DualListComponent`` get modified by the search?

Are you seeing the duplication in the destination array, or in the ``confirmed.list`` in the ``DualListComponent`` itsel

[2017-03-14 08:51] czeckd commented on #16
I took a first pass at adding a filter to the ``DualListComponent``. The code is in the project's [filter](https://github.com/czeckd/angular2-dual-listbox/tree/filter) branch.

[2017-03-14 10:18] barmmie commented on #16
Hi,

I would create a plunkr to demonstrate my implementation and the resulting issue. (Currently on mobile).
Would also check out the filter branch for any pointers

I am doing the search in the DualListComponent. I am working on a slightly modified version.
I am emitting the search term on key stroke as an @Output and leaving the implementation of the ajax search to the parent component.
In the

[2017-03-14 18:37] czeckd commented on #16
Okay, please share a plunkr with an example. I'll take a look when you get it posted.

[2017-03-14 19:10] czeckd commented on #16
Also since you're changing the source, have you thought about filtering your source array outside of the ``DualListComponent``? I think that approach would lead to less code and allow for the component's change detection work more effectively.

[2017-03-17 09:39] barmmie commented on #16
Hi,
@czeckd
Here is my implementation, It allows me to set the source from remote
[http://plnkr.co/edit/C5ysvDYc67IRYtoAdh7p?p=preview](http://plnkr.co/edit/C5ysvDYc67IRYtoAdh7p?p=preview)

Sorry regards the delay, I had trouble creating the plunkr (My first time).

I have been able to resolve the issue. It was caused by me not your plugin.

If you would like to add an optional remote search into

[2017-03-17 19:46] czeckd commented on #16
Congratulations on getting your search working!

I would recommend refactoring your implementation to move the query to build the users array outside the ``DualListComponent``, because the way it is currently implemented is: 1. get query string in ``DualListComponent``; 2. emit query string to parent; 3. parent makes query to datasource; 4. parent updates users array; 5. ``DualListComponent`` avai

[2017-03-17 19:56] barmmie commented on #16
Hi,

I agree with you, and had gone that route initially.
I eventually settled for this approach for code reuse, since
DualListComponent is being used in a lot of components currently (5) in my
project, and didn't want to reimplement search in all those components, or
in future components

Thanks again for the work on this plugin.

On Mar 17, 2017 8:46 PM, "David Czeck" <notifications@github.com>

[2017-03-17 20:19] czeckd commented on #16
Fair enough. I'm glad you're finding the component useful.
Please star the project if you think of it. It helps others find it.
Good luck!

[2017-03-17 20:19] #16 closed

[2017-03-17 20:19] #13 closed

[2017-04-04 16:28] tosehee75 opened #19 "Angular 4 issue"
Get following error after migrating to angular 4.

[code]

[2017-04-04 18:38] czeckd commented on #19
The [DefaultIterableDiffer was deprecated from the public API in Angular 4.0.0-beta.3](https://github.com/angular/angular/blob/master/CHANGELOG.md#400-beta3-2017-01-11). I'm working on coming up with an alternative approach for Angular 4.

[2017-04-04 18:54] tosehee75 commented on #19
Thanks for looking into it.

[2017-04-04 19:31] czeckd commented on #19
In the meantime, you can get up-and-running with Angular 4, by changing the following two lines in ``dual-list.component.ts``.

Line 235, from:
[code]
to
[code]
and line 241, from:
[code]
to
[code]

[2017-04-04 22:42] tosehee75 commented on #19
Let me give that a try.

and yes. That worked!

Thanks.

[2017-04-05 04:08] czeckd commented on #19
Great! Updated project with the change.

[2017-04-05 04:08] #19 closed

[2017-04-20 17:41] jackjamieson opened #21 "Add project to NPM"
Have you considered adding the project to NPM as a module?  It would be easier to get up and running rather than having people copy a component into their project.

[2017-04-20 18:05] jackjamieson opened #22 "TypeError: Cannot read property 'diff' of undefined"
Using Angular 4.0.2 I dropped the component in my project and am getting this TypeError when no options are supplied to the dual-list element.  It should handle the error more gracefully.

TypeError: Cannot read property 'diff' of undefined
    at DualListComponent.Array.concat.DualListComponent.buildAvailable (dual-list.component.ts:173)
    at DualListComponent.Array.concat.DualListComponent.ngD

[2017-04-21 06:41] czeckd commented on #22
Thanks for the report. I've [fixed the issue](https://github.com/czeckd/angular-dual-listbox/commit/9f7cdd571a0d856b7ba1d8681e2edd49e3381f3e) and the `dual-list` should now cause no errors if it is used with no options supplied.

[2017-04-21 06:41] #22 closed

[2017-04-21 09:20] czeckd commented on #21
Yes, it's been on my TODO list.

[2017-04-22 18:16] bruceradtke opened #24 "Initialize list"
Hello,

I am using your dual list and have gotten it working.  I have a simple question about datasets that are already defined. ( ie: the 'confirmed' array already has elements).
What do I pass as the source and destination/confirmed?
Say my 'universe' of all available items are the numbers 1 - 10
[1,2,3,4,5,6,7,8,9,10]
But I want to pre-initialize the destination with the numbers 1-3
[1,2,3]
I a

[2017-04-22 19:27] czeckd commented on #24
The source should be: [1,2,3,4,5,6,7,8,9,10]
The destination should be: [1,2,3]

The source is the universe set of all possibilities. The destination is just the confirmed or chosen.
The demo shows an example of this with 'Eureka' station.

[2017-04-23 02:00] czeckd commented on #21
Done: https://www.npmjs.com/package/angular-dual-listbox

[2017-04-23 02:00] #21 closed

[2017-04-25 07:55] #24 closed

[2017-05-05 19:21] r0lan2 opened #27 "unit tests are missing :)"
Hi,
Before all, Thank you to write this component... is very useful for me:).. now my question is you are thinking to write unit tests for your component?

[2017-05-06 00:49] czeckd commented on #27
Tests are on my to-do list.

[2017-05-10 20:05] #27 closed

[2017-05-10 20:11] r0lan2 opened #34 "runing "npm run start" is failling"
Hi,
I tried run the next command: "npm run start" and this is failling saying: "angular-dual-listbox@4.1.0 dist: `tools/mkdist`"... I can see that the issue is with the command "npm run dist"...... do you know what is the reason?

![output command](https://cloud.githubusercontent.com/assets/777801/25918978/9941ec76-35a3-11e7-9842-b47b84cd2467.png)

[2017-05-10 21:24] czeckd commented on #34
Looks to be an incompatibility in the script between running on Linux/Unix and Cygwin.

To troubleshoot, I trying each command individually building up from each. So, first do:
[code]
If that works, then try:
[code]
And so on.

Alternatively, it could just be a missing `#!/bin/bash` at the start of the script that is tripping up Cygwin.  I'll look into it when I get time to try on a Windows box.

[2017-05-10 21:30] czeckd commented on #34
Actually, looks like you're running on just Windows, so I doubt a Linux shell script will work on it at all.

[2017-05-11 04:52] czeckd commented on #34
@r0lan2

Please try the approach in this [branch](https://github.com/czeckd/angular-dual-listbox/tree/unshell) to see if it works for you. Here's the [commit](https://github.com/czeckd/angular-dual-listbox/commit/a415ceb0975d1de2cd61165915fecb978b33f830).

It adds ``shelljs`` to the ``devDependencies`` of ``package.json`` and changes the ``mkdist`` to be:
[code]

[2017-05-11 04:58] czeckd commented on #34
Another option is to rename the script ``mkdist.sh`` and then run it with the ``sh.exe`` in Windows 10 as explained [here on stackoverflow](http://stackoverflow.com/a/34374894).

[2017-05-16 18:39] czeckd commented on #34
Guessing one of these approaches worked for you.

[2017-05-16 18:39] #34 closed

[2017-07-12 13:37] AngularTx opened #35 "Removing data from parent should not be allowed"
Hi ,

I would like to use this component. I have tried the demo and its looks good.
I have a scenario where I would like to keep the initial parent data towards the left asis , we should not remove anything from it or add anything to it.
only the right hand side list we can get data from the parent list(add) and when deleting we should remove from right list .

Can that be handled here with some c

[2017-07-12 20:54] czeckd commented on #35
The source (parent) array never changes, only the display changes based on what is in the target array. Are you asking for the the source display to remain static so that if an entry is in the target array it also still appears in the source array?

[2017-07-12 21:23] AngularTx commented on #35
yes, i want the data in the view to remain asis. dont want to remove or add
later to the parent .

On Jul 12, 2017 10:54 PM, "David Czeck" <notifications@github.com> wrote:

[2017-07-13 04:21] czeckd commented on #35
To keep the source display static would need a significant refactoring of the ``DualListComponent``. It is not a trivial change, since it is counter to one of the fundamental design assumptions I had when I created the component.

[2017-07-17 07:11] #35 closed

[2017-07-25 13:43] wickedrahul opened #36 "How to hide 'ALL' and 'NONE' buttons if not required?"
I mean I can do through CSS but are there any params which i can disable or something to hide these buttons

[2017-07-25 16:38] czeckd commented on #36
There's no parameter to diable/hide the buttons. Either hide through CSS or extend the component and omit including the buttons in the html template.

[2017-07-31 20:08] HigorSilvaRosa opened #37 "How can I check if have changes?"
There are some output that i can use to detect when the value changed?

I loved this module!

[2017-07-31 21:12] czeckd commented on #37
I'm guessing you mean detect change on the destination/target array?

You could add something like ` (destinationChange)="myChange($event)"` where `<dual-list>` is used in the template:
[code]

And then in the code:
[code]

[2017-08-01 17:18] #36 closed

[2017-08-03 15:53] HigorSilvaRosa commented on #37
Thank you!

[2017-08-04 07:11] #37 closed

[2017-08-15 19:03] infact opened #40 "TypeError: Cannot read property 'DEFAULT_FORMAT' of undefined"
I am getting this error  when I try to load the page where dual ListBox is expected to show:

EXCEPTION: Uncaught (in promise): TypeError: Unable to get property 'DEFAULT_FORMAT' of undefined or null reference.

[2017-08-16 04:48] czeckd commented on #40
Can you please provide a code example with enough details to reproduce it?

[2017-08-25 17:33] webcat12345 opened #41 "Feature request for hook methods"
First of all thanks for your great component.

I am using this component for many project and it works as charm.

I would like to implement inline edit feature to this component. Could you please extend function for click event of list item?
Or is there any specific way to hook this?

[2017-08-25 20:15] czeckd commented on #41
Would a `selectChange` event work in your use case? So a change to `dual-list.component.ts` like this to emit the event:
[code]
This way anytime an item is selected or deselected an event would be sent back.

[2017-08-29 13:22] danilomcb opened #42 "Performance problem"
Hello! I'm using the component in a project, but I'm having performance issues.

In an editing scenario, I have to initialize the destination list with the chosen elements in the register. I am having problems initializing, when the target list has more than 1500 elements. Pretty much my system stops working.

Any idea what might be causing this?

[2017-08-29 23:47] czeckd commented on #42
Yes, I did not predict that this component would be used with arrays that big!

The problem is that `trueUp` is, politely put, inefficient. It iterates over every item in the confirmed list and then does a array filter on the destination and potentially the source. The way `moveItem` is written, each time an item is added to the destination, `trueUp` is called. Thus, this is the performance issue

[2017-08-30 03:27] czeckd commented on #42
Try version 4.3.1 and see if that works better for your use case of more than 1500 elements in the destination list.

[2017-08-30 12:24] danilomcb commented on #42
I just completed the tests. It has improved considerably. There is a small delay, but it is within the expected!

Thank you very much!

[2017-08-30 18:50] czeckd commented on #42
You're welcome. I'll look into further performance enhancements in upcoming releases too.

[2017-08-30 18:50] #42 closed

[2017-09-04 07:09] shubham441996 opened #45 "Dual list component is not compiling in aot compilation"

[2017-09-04 18:26] czeckd commented on #45
I am unable to reproduce this using angular-cli to build.

Here's how I tested.

[code]
Edited `app.module.ts`:
[code]
Edited ``app.component.ts``
[code]
Edited ``app.component.html``
[code]

Then compiled:
[code]
I've also tested explicitly turing on aot, with ``--aot=true`` and the project builds with aot.

[2017-09-04 18:27] czeckd commented on #45
Please reopen this issue with a project (code) to reproduce this, if you want me to relook at what you are seeing.

[2017-09-04 18:27] #45 closed

[2017-09-04 18:33] danilomcb commented on #45
There was a problem with me when trying to customize the inheriting component of DualListComponent.

I could not resolve the error, so I did not customize the component.

It may have been the same as @shubham441996.

[2017-09-05 02:14] czeckd commented on #45
That is odd. @danilomcb what was the customization you were trying to do?

[2017-09-05 11:46] danilomcb commented on #45
I tried to do something similar to what existed in the documentation:

[code]
I tried to change the position and the colors of the buttons.
I also use angular-cli.

@czeckd, in case you can not reproduce the error, I can try here.

[2017-09-06 03:32] czeckd commented on #45
I created an example project extending / customizing the ``DualListComponent`` and put it on GitHub. You can find the project here: [Custom Dual Listbox](https://github.com/czeckd/custom-dual-listbox).

 @danilomcb Hopefully this will help out with extending / customizing the component.

[2017-09-06 05:23] shubham441996 commented on #45
Thankew so much.

[2017-09-06 08:50] thilankascentic opened #46 "Duplicating items on selected items,"
I am trying to load countries from a web service and assigning to dual-listbox . at the first time of calling service  both source and destination items are loading correctly,

but when calling service for second time, destination items are cloning,
if called service 3 times, destination items are cloning into 3 copies of each.

i tried clearing destination varible before assign values but its did

[2017-09-06 09:56] czeckd commented on #46
Please provide a small application that reproduces the problem.

[2017-09-06 11:22] czeckd commented on #46
I think I see where you're running into difficulty. I've created a branch with the potential fix: [rest-duplicate](https://github.com/czeckd/angular-dual-listbox/tree/rest-duplicate). The problem stems from having effectively different sources with the same destination and the way items were added to the list for display.

[2017-09-06 12:10] danilomcb commented on #45
I will test and correct my mistake.

Thank you, @czeckd!

[2017-09-07 18:44] thilankascentic commented on #46
Hi czeckd,
I have use this dual-list i in several locations of my application so if you fix above issue could you please tell me where should I change my existing code? or have you merged it into live?

[2017-09-08 09:39] czeckd commented on #46
Try updating to version 4.3.2 and see if that resolves your duplicates problem.

[2017-09-09 07:32] thilankascentic commented on #46
Thanks czecked,
yea Its solved in UI , I'll double check with the data binding as well and let you know if there any Issue.
Thanks again

[2017-09-09 20:42] thilankascentic commented on #46
Hi ,
item duplicating issue is solved but I got another Issue,
how can I clear the _destination_ items or _source_ ? I tried assigning destination to empty array and null but its didn't worked,

scenario,
![image](https://user-images.githubusercontent.com/29625709/30243627-a3cbff96-95cb-11e7-8312-b9f9009e7c77.png)

I have two button, on each clicked there will be a popup and that popup include our

[2017-09-09 23:52] czeckd commented on #46
I tried to reproduce what you are seeing on my own, but was unable to do so.

Assigning a new, empty array to the dual-list's destination should reset it. Also, setting the destination's array length to 0 would also reset it.

If you can provide code with a reproducing example, I can take another look at it.

Here's the code I used to test with:
[code]
And the view:
[code]

[2017-09-11 19:20] #46 closed

[2017-09-18 20:07] czeckd commented on #40
Not reproducable.

[2017-09-18 20:07] #40 closed

[2017-09-22 19:50] michaelblum opened #49 "Can't get component to work in project created with angular cli"
I was unable to get angular-dual-listbox to work in my application.  I get the following webpack error:

WARNING in ./src/app/app.module.ts
52:12-29 "export 'DualListComponent' was not found in 'angular-dual-listbox'

following the installation instructions, I am getting the same error in a new project generated by angular cli.

[2017-09-22 21:57] czeckd commented on #49
Please post your app.module.ts.

[2017-09-23 03:16] michaelblum commented on #49
`import { BrowserModule } from '@angular/platform-browser';
import { NgModule } from '@angular/core';
import { AngularDualListBoxModule } from 'angular-dual-listbox';

import { AppComponent } from './app.component';
import { DemoAppComponent } from './demo-app/demo-app.component';

@NgModule({
  declarations: [
    AppComponent,
    DemoAppComponent
  ],
  imports: [
    BrowserModule,
    Angular

[2017-09-23 04:35] czeckd commented on #49
What happens if you change the first two lines? To:
[code]

[2017-09-23 05:06] czeckd commented on #49
I have not been able to reproduce the error you are seeing.

I created a bare bones sample project using angular-cli 1.3.2 and angular-dual-listbox. You can clone it from here: [basic-dual-listbox-demo](https://github.com/czeckd/basic-dual-listbox-demo).

Please see if that works for you.

[2017-10-05 09:18] dennisr90 opened #50 "export 'DualListComponent' was not found in 'angular-dual-listbox'"
Hi,

I'm getting the following warning:

This is when I do the following import in my component:
`import { DualListComponent } from 'angular-dual-listbox';`
`@ViewChild('dualcomp') dualcomp: DualListComponent;`

I am able to access `this.dualcomp`, so I don't see any errors/difficulties in doing what I want, but I still get this annoying warning. Do you have any idea why or how to resolve this?

[2017-10-05 10:55] czeckd commented on #50
Try:
[code]
See if that resolves it.

[2017-10-05 11:06] dennisr90 commented on #50
Seems like it did ! Thanks !!

Btw, great dual list ! Keep up the good work.

[2017-10-05 11:06] #50 closed

[2017-10-24 09:57] parisamashinchi opened #53 "predefined confirmed value problem"
hi,
I must get value from API to fill confirm and source array. I can do it and both array is filled well. in dual box  source side ,array  is shown but confirmed side doesn't show anything. what can i do to solve this problem?

[2017-10-24 21:35] czeckd commented on #53
Please provide example code to reproduce the issue you are having.

[2017-10-24 21:40] czeckd commented on #49
Unreproducible and no further contact regarding issue.

[2017-10-24 21:40] #49 closed

[2017-11-09 12:21] dennisr90 commented on #41
This would've been nice, but it's not there yet, right?

[2017-11-09 16:21] czeckd commented on #41
No, and probably won't be put in the main project. But, it is straightforward to add by extending the component for your own project. There's a working example of this implemented in the [custom-dual-listbox](https://github.com/czeckd/custom-dual-listbox) sample project to show how it could be done.

[2017-11-09 17:22] webcat12345 commented on #41
https://github.com/webcat12345/angular-dual-listbox
I already forked and made an update to my own repository.
"angular-dual-listbox": "https://github.com/webcat12345/angular-dual-listbox/tarball/editable",

[2017-11-16 02:26] KiranWorks1061 opened #54 "how to customize filter function"
Hi,

Thank you so much for such a wonderful component.
i have a scenario to customize the filter functionality like as below,
e.g: "Search This Text" : search as to be based on 3 keywords.

Is this possible to do with current existing functionality, please let me know.

Thanks

[2017-11-16 07:20] czeckd commented on #54
To do this, you will need to make a customized component by extending the DualListComponent and overriding the ``onFilter(source:BasicList)`` method.

To make a custom filter like this, I'd think about taking the ``source.picker`` string and splitting it into substrings using a space delimiter and then looping over the ``source.list`` and filtering over the substrings. Either filtering the resulti

[2017-11-19 00:37] ekwebster opened #55 "Pre-defined 'destination' array"
I am getting a empty destination box, but source is filled. I have confirmed both, selected and remaining, have data in them.

[code]
[code]
[code]

[2017-11-19 00:37] ekwebster commented on #55
Sorry it didnt play with my code inserts... :( first time poster.

[2017-11-19 01:53] czeckd commented on #55
The source is a list of all available options, not just remaining. In order for the list to display, the selected options must be part of the source.

If you cannot provide a master list of all possible options for your source, then you could do something like this:

[code]
But, it'd be in the spirit of the dual-list component to provide a master list of options rather than a remaining list. The d

[2017-11-20 00:51] #55 closed

[2017-11-23 11:25] BiswanathGitHub opened #58 "404 not found issue"
Hi,

I followed every steps mentioned, but after npm start,

I am getting this:
zone.js:2933 GET http://localhost:3000/angular-dual-listbox 404 (Not Found)

Please help

[2017-11-24 05:03] czeckd commented on #58
I need more details and / or code examples of what you've tried. If you're really stuck, please clone the [basic-dual-listbox-demo](https://github.com/czeckd/basic-dual-listbox-demo) project for a working example on how to use the component.

[2017-11-24 05:04] czeckd commented on #53
No follow-up.

[2017-11-24 05:04] #53 closed

[2017-12-08 15:55] pedrofarbo opened #59 "Please, help me with drag and drop!"
Hey my friend, first i want to thank you about this amazing component, so i'm using this component in my project and i need to know if you can help me with disable the drag and drop feature or how to get the reference of end of the object drop for condicioning one button. I want to show the button only when the user drop the object out. I already make this two functions to make this happen in the

[2017-12-09 08:19] czeckd commented on #59
I updated the angular-dual-listbox npm package to v4.5.0, which will allow you to disable drag-and-drop. Here is an example on how to disable drag-and-drop with angular-dual-listbox@4.5.0.

[code]
If you need to capture when the destination has changed so you can save to the MySQL database, then use the `destinationChange` event, like so in your html template:

[code]
And in your TypeScript code:

[2017-12-17 06:20] #54 closed

[2017-12-22 20:36] pedrofarbo commented on #59
Thanks my friend! Issue resolved!

[2017-12-22 20:36] #59 closed

[2017-12-31 10:57] kopagana opened #62 "install with angular 5"
we are trying to install this plugin while using angular 5 with `$ npm i angular-dual-listbox --save` command.
the files `tools` and `rollup.config.js` are not downloaded with the rest of the files.
does manually download them and inject them to the project is acceptable move?

we used the angular-dual-listbox in angular 4 version and it worked fine but everything changed when the version 5 "attac

[2018-01-04 09:43] czeckd commented on #62
If you want the development scripts and configuration files, you will need to clone the repository.
[code]

[2018-01-05 04:32] #58 closed

[2018-01-16 10:13] fandridis opened #63 "Listen to changes"
Hi there,

I have been using this dual-listbox for a while and it works and looks great, good job!
Is it possible to somehow get notified when an item is added or removed from the target/destination box?

For example in case I want to run a function every time the user adds/remove an item.

Thanks in advance!

[2018-01-16 19:23] czeckd commented on #63
Yes, you can hook into the change event like so: `(destinationChange)="echo($event)"`

From demo-app.component.ts
[code]
[code]

The event gives an array of all members in the target/destination.

[2018-01-26 09:18] AulonaBinaj opened #64 "How to display data in Dual Listbox"
component.ts
[code]
component.html

[code]

[2018-01-30 04:51] czeckd commented on #64
Per your typescript code, you have an array of permissions. But you're not providing the dual-list component enough information on how to interact with it.

[code]

1. sort is a boolean, so should be either true or false.
1. key is the unique key identifier in your Permission object. Something that is unique to each Permission object in the array such as an id or primary key.
1. display is a text

[2018-01-30 11:06] asarapas opened #65 "Maps are included in NPM package v4.5.0, but source files are missing"
Map files starts:
`{"version":3,"sources":["../tmp/<file_name>.ts"],"names":[],"mappings":...`

But those files are missing

[2018-01-31 06:24] czeckd commented on #65
Thanks. The source files should now be there with v4.5.1.

[2018-01-31 18:47] czeckd commented on #65
[code]
Seems like putting source files in the package violates the [APF v5.0](https://goo.gl/jB3GVv). Will revert in v4.5.2.

[2018-02-01 13:25] schuettecarsten opened #69 "Error on "ng build""
After updating several npm modules to latest version, I get the following error during "ng build":

[code]

[2018-02-01 18:31] czeckd commented on #69
Thanks. The ___moduleName  has been removed.

Please try angular-dual-listbox@4.6.1 to see if it resolves your issue.

[2018-02-01 19:02] schuettecarsten commented on #69
Thank you. 4.6.1 fixes this problem.

[2018-02-01 19:02] #69 closed

[2018-02-01 21:22] czeckd commented on #65
As of angular-dual-list-box@v4.6.1, following Angular Package Format v5.0 format for the package. The spec doesn't put source files in the package, so will continue not to add them.

[2018-02-01 21:22] #65 closed

[2018-02-01 21:22] #62 closed

[2018-02-05 20:36] sukumarkonduru opened #71 "Updating to disable drag/drop and display multi line records"
David,
Thanks for providing excellent component.

I need to modify the code to incorporate following.
1. Remove drag/drop (Is it possible with any property?)
2. Display each item as 3 line record
3. Move add remove to middle and remove buttons on the bottom.

Let me know any tips for completing those. I created project with just copying files under  lib/src as a module and imported it  and it is w

[2018-02-05 21:39] czeckd commented on #71
1. Per the [README.md](https://github.com/czeckd/angular-dual-listbox/blob/master/README.md), you can remove drag-and-drop via a format object passed in the html. For example:
[code]
2. You can style the dual-list anyway you need by extending the component and providing it with a new template. I have a sample project with an example here: [czeckd/custom-dual-listbox](https://github.com/czeckd/cust

[2018-02-06 23:12] sukumarkonduru commented on #71
Thanks David,  It is easy to extend the code. I only have few months of angular experience and struggling to understand following snippets. However, it is an interesting application to use as a project to understand better on angular/typescript/javascript.

@Input() id = `dual-list-${nextId++}`; //guess used fro drag/drop

ngOnChanges(changeRecord: {[key:string]:SimpleChange}) //guess name value p

[2018-02-07 00:14] czeckd commented on #71
The DualListComponent has ``var nextId = 0;`` which is the default if the id isn't provided as an Input() and yes it is there for drag-and-drop.

Read the Angular docs on [OnChanges ](https://angular.io/api/core/OnChanges)and [SimpleChange](https://angular.io/api/core/SimpleChange).

The Angular docs on [IterableDiffers](https://angular.io/api/core/IterableDiffers) is a bit sparse, but basically t

[2018-02-09 18:35] sukumarkonduru commented on #71
Thanks David for taking time to reply in detail.  I was going through dual list from last 2 days. I did not use Javascript for a while  and this project is helping me to refresh and also learn new Javascript APIs and learn how Angular is used with all the lifecycle methods and template. I like the demo usage sample also as being powerful to customize the application.

One question I have is to cre

[2018-02-20 05:09] crisarjim opened #73 "Problem sharing the same source"
Hi, actually I think this is not an issue per se, but it seems to be like GitHub records everything as "Issues", sorry in advance.

Here is my situation; I've been testing this component and it is reaaaally cool, now, I have just a minor problem. I want to share the same Source between list-boxes, let me try to be more specific.

Let's say the Source is a list of shoes(the difference is the color,

[2018-02-20 05:31] czeckd commented on #73
The dual-listbox does not change the source array.

If you need to change the source in response to something being added to the destination, then hook a function to the `destinationChange` event to add/remove selected options in the source array as needed.

[code]

[code]

[2018-02-21 18:50] #63 closed

[2018-02-22 04:39] crisarjim commented on #73
Hi @czeckd , I've tried using your suggestion, but it still not working for me.
Since I need to have the same source(a list of shoes; red, blue, black, etc) shared between destinations(I plan to have N clients for buying the shoes), I'm using the "destinationChange" for updating the source; my function looks like:
`
    myModify(dest:Array<any>) {
        let forDeletion = dest;
        this.sourc

[2018-02-22 10:37] czeckd commented on #73
Keep a copy of the original array and subtract from it what is in the destination as returned by the destinationChange event.
[code]

[2018-02-23 05:49] crisarjim commented on #73
Thank you very much for your time!!, checking now, keep you posted with the result.

[2018-02-25 04:41] crisarjim commented on #73
Hi @czeckd, I already chech your suggestion, and it is working... partially; I mean, now I have no problems with source!, that's great, but confirmed instead.

![sample](https://user-images.githubusercontent.com/36654661/36638173-160bb662-19b3-11e8-9618-0333494af3d1.png)

In the attached image, as you can see, I have 3 Clients(A,B,C); for each of them, I selected a pair of shoes, in the *console.l

[2018-02-25 05:47] czeckd commented on #73
The `dual-list` really was not designed to work with your use case. So, you're stretching it in ways that break the component's primary design assumption.

The primary `dual-list` assumption is that the source provides a universal list of items for the destination. If the item is not in the source at the time it is added to the destination, then it will not be added to the destination since there

[2018-02-25 15:29] crisarjim commented on #73
You are right, I've been trying hard to stretch your component since, aside the current problem I have, it is the best component out there for fulfill my task.
Any way, thank you for your time and patience, I'll give it a last chance, applying the suggestion you just posted; but probably I'll end up writing my own component(that's what I was avoiding since yours fits almost perfectly).
Thank you s

[2018-03-05 17:17] jkergosi opened #74 "Binding Confirmed to Model"
This may be an easy one, but we'll see.

I'd like to had the dual listbox on a form and bind the confirmed values to the form's angular model.
Ex:
<dual-list [key]="key" [display]="display" [(destination)]="model.categories" name="categories" #categories="ngModel" [(ngModel)]="model.categories" height="265px"></dual-list>

Is that feasible? If not, any recommendations on how to bind the confirm li

[2018-03-05 19:54] czeckd commented on #74
Sorry, it'd require a rewrite to incorporate NgModel. The dual-list does, however, update the destination and can be used on template-driven forms. You will need to provide a source for the component though.

[2018-03-05 21:34] #64 closed

[2018-03-05 23:17] jkergosi commented on #74
Thank you for your quick response! I was thinking in lieu of this, is is maybe possible to do something like this (referencing your code in a different issue):

<dual-list [source]="source" [(destination)]="confirmed"
    (destinationChange)="myModify($event)">
</dual-list>

myModify(dest:Array<any>) {
     model.categories = dest;
}

I think this might be a decent workaround. Thoughts?

[2018-03-06 04:20] czeckd commented on #74
In the example you posted, the `[(destination)]="model.categories"` will update with changes caused by using the `dual-list`. So, as items are selected from the source and then added to the destination, the destination array `model.categories` will update with those changes. The component does not use NgModel, but the model.categories array will update accordingly.

So maybe I do not understand wh

[2018-03-19 18:06] emany opened #75 "Filter can not detect upper or lower case"
Hi,

I am using Turkish alphabet. My dual-list have some texts like MİHRİCAN. I am writing "mi" to filter input. But it doesn't find anything.

Any solution for this problem?

[2018-03-19 23:25] siddesai36 opened #76 "moving elements in confirmed list box (arranging)"
Hello,

I was wonder is there a method or a property that would let me arrange the elements in confirmed (destination array of objects) list. For ex. If my confirmed list has MN, WA, IA and in the same list i want to drag MN from index one to 3. so the end result is confirmed list WA, IA , MN. Also thank you for help

[2018-03-20 03:03] czeckd commented on #75
Is your browser locale set to 'tr_TR' or something else? This is a problem with the dual-list using `toLowerCase()` for the filtering instead of `toLocaleLowerCase()`.

If it is Turkey, then I change do a new release to use `toLocaleLowerCase()` and I believe it'll take care of it. If you're using a different locale, then the escape codes will need to be removed as well.

You could create a [custo

[2018-03-20 03:05] czeckd commented on #76
You can set the dual-list to sort the destination, but it doesn't support reordering. If it's unsorted, then it confirmed items will be in order of addition.

[2018-03-20 12:09] emrahsenturk commented on #75
`console.log('MİHRİCAN'.toLocaleLowerCase().indexOf('mih'.toLocaleLowerCase()) !== -1);`

When I try thisi it comes out false.

`console.log('MİHRİCAN'.toLocaleLowerCase('tr').indexOf('mih'.toLocaleLowerCase('tr')) !== -1);`

But when I try this, it is returning true.

I guess toLocaleLowerCase('tr') solves my problem.

Now what will I do? Where will I use this code :)

[2018-03-20 16:56] siddesai36 commented on #76
Thank you for replying. So yes what you mentioned above is absolutely correct. So to support reordering I got started with creating custom component that extends DualListComponent. I think it's possible but i dont truly understand the architecture behind it. So I was hoping for your assistant on which methods to override to make it work. Thanks again.

[2018-03-20 18:34] czeckd commented on #76
Yeah it's doable. You will probably need to look at the drag-and-drop related functions and make them so they can self-target and then recognize the reordering. Good luck.

[2018-03-20 18:34] #76 closed

[2018-03-20 18:34] #71 closed

[2018-03-20 18:35] #73 closed

[2018-03-20 18:59] czeckd commented on #75
@emany : I'll get a new package with `toLocaleLowerCase` in place in the next 24 hrs.

[2018-03-20 19:01] emrahsenturk commented on #75
@czeckd ok, thanks. So how can i update dual-listbox package?

[2018-03-21 02:30] czeckd commented on #75
Release 4.6.3 is now on npmjs.com, so just:
[code]

[2018-03-21 07:30] emrahsenturk commented on #75
@czeckd I installed lastest version. But my problem is not resolved.

It is still not finding "mi" in "MİHRİCAN".

[2018-03-21 08:42] czeckd commented on #75
Well that's disappointing. That leaves you the option of making a custom dual-list component with an override of `onFilter` as I [described earlier above](https://github.com/czeckd/angular-dual-listbox/issues/75#issuecomment-374456822) that strips out the escape codes, or not using filtering, or not using the dual-list component.

[2018-03-21 10:05] czeckd commented on #75
I've run up to a [TypeScript bug](https://github.com/Microsoft/TypeScript/issues/11056#issuecomment-354258195)  trying to explicitly set the locale as `toLocaleLowerCase('tr')`. The function definition for toLocaleLowerCase is incomplete and thus won't transpile with arguments without modifying the lib.es5.d.ts definition for it. If I can work around it, then I could provide a way to programatical

[2018-03-21 10:54] emrahsenturk commented on #75
@czeckd Ok, Do I wait for you or use a custom-dual-list?

[2018-03-21 11:38] czeckd commented on #75
Depends how soon you need it working. If you need it today or soon, then go custom. If you can wait a few days, then I might have something.

[2018-03-21 12:58] emrahsenturk commented on #75
@czeckd I can wait a few days. So I am waiting you. Thank you for your interest.

[2018-03-22 09:10] czeckd commented on #75
@emany Please try this again. I've update the angular-dual-list@4.7.0 with support for explicitly setting the locale.
[code]
Add to your dual-list a format object with the locale set to be 'tr_TR' or 'tr'.
Example:

[code]
With any luck, the filter on dual-list will support lowercase İ correctly.

[2018-03-22 11:48] emrahsenturk commented on #75
@czeckd My problem solved. Thank you for everything.

[2018-03-22 14:59] #75 closed

[2018-03-28 04:35] damith-pyl opened #79 "Problem loading items to "confirmed" or the selected area of the dual-listbox."
Hi, I'm having a hard time integrating this to my angular 4 app which use google firestore as the back-end.
Can you provide a sample on how to load items to both "source" and "confirmed" arrays. Even though I could load items to "confirmed" array, I cannot see them in the UI.

[2018-03-28 09:33] czeckd commented on #79
The source array contains all the available items. So for an item to be in the confirmed array, it must also exist in the source array.

[code]
The confirmed array will have 'gamma' in it and 'gamma' will not be displayed in the source array, unless it is removed from the confirmed array.

To see this in action, look at how only the confirmed array changes in the [demo](https://czeckd.github.io/an

[2018-03-29 09:12] damith-pyl commented on #79
Thanks, solved the issue.

[2018-03-29 09:12] #79 closed

[2018-04-12 03:11] #74 closed

[2018-05-04 12:43] Arezoo-Bozorgmehr commented on #41
Hey guys,

I would like to add the double click function in this Component. Could you please suggest me somethings.

Thanks
Arezoo

[2018-05-05 07:59] czeckd commented on #41
@Arezoo-Bozorgmehr Sure, fork the [custom-dual-listbox](https://github.com/czeckd/custom-dual-listbox) sample project and change the template to add `(dblclick)="yourNewFunction()"` and then add `yourNewFunction()` to the your custom dual-list component.

[2018-05-07 08:08] Arezoo-Bozorgmehr commented on #41
Hi David,
thank you so much, that works. I also  have tryed to apply Filter method ín
this project adding to template [filter]="filter" and then add
filter = true;
doFilter() {
this.filter = !this.filter;
}
in component but it dosn´t work. Could you please help me.

Thanks

2018-05-05 9:59 GMT+02:00 David Czeck <notifications@github.com>:

[2018-05-07 11:42] Arezoo-Bozorgmehr commented on #41
Hi @David Czeck

I have solved the Filter problem adding a line code in template of
custom-dual-listbox.
Thanks again

2018-05-07 10:08 GMT+02:00 arezoo Bozorgmehr <arezoo.bozorgmehr16@gmail.com>
:

[2018-05-09 09:59] np161 opened #80 "Moving Buttons"
Is possible to move the all and none buttons to be in between the add button and the search bar?

[2018-05-09 18:47] czeckd commented on #80
Yes. Make a [custom-dual-listbox](https://github.com/czeckd/custom-dual-listbox), such as demonstrated in the linked example project, and set the template layout to match your requirements.

[2018-05-09 18:47] #80 closed

[2018-05-10 12:29] heuristicAL opened #81 "Update to Angular 6"
As it stands, projects that contain this library cannot be upgraded to Angular 6. I would be willing to help, if need be.

[2018-05-10 19:36] czeckd commented on #81
I'm investigating. My Angular 6 projects that use it didn't complain, so I wasn't alerted to a problem. Could  you post what you're seeing please?

[2018-05-10 19:48] giard-alexandre commented on #81
Actually you're right, I'm sorry it was my mistake. I am no longer getting an error from this lib. Thanks a lot!

[2018-05-10 19:48] #81 closed

[2018-05-15 19:45] #41 closed

[2018-05-16 03:38] LordRampantHump opened #82 "Filtering"
hey, this is nice, very nice and will be the back bone of a channel organizer im about to make, would LOVE to see some multi tabs and or some filtering here but great for a starting block

[2018-05-24 14:48] danbrycefairsailcom opened #83 "Drag and drop doesn't work in IE11"
Open the demo in IE11 and try to drag an item between list boxes:
https://czeckd.github.io/angular-dual-listbox/demo/

Nothing happens for me.

[2018-05-24 14:55] danbrycefairsailcom commented on #83
Seems to be due to the use of a custom type being passed to `dataTransfer.setData()`:
https://github.com/czeckd/angular-dual-listbox/blob/master/lib/src/dual-list.component.ts#L227

**Source:** http://mereskin.github.io/dnd/

[2018-05-30 12:17] shaikhspear16 commented on #76
is there a repo I can have a look on for rearranging items.

[2018-06-07 13:58] jaschulz commented on #36
Hi, @czeckd. I know this is an old issue, but i was wondering if you could give me some guidance to hide the buttons through CSS.  This is what I've tried, without success.
My css:
button.btn-block {
    display: none !important;
}

I did this, trying to overwrite the following, hence the '!important':

button.btn-block {
    display: block;
    width: 100%;
    margin-bottom: 8px;
}

Am I missing

[2018-06-07 18:40] czeckd commented on #36
In your app's base styles:
[code]

[2018-06-14 05:48] gauravshri12 opened #84 "How to add up and down sorting in destination column"
Used https://czeckd.github.io/angular-dual-listbox/demo/ version in my app.
![dual-list](https://user-images.githubusercontent.com/31828662/41393716-a6df72f2-6fc4-11e8-83e8-042d7376ab47.JPG)

[2018-06-14 10:53] gauravshri12 opened #85 "By Default need to show some values in Destination Column"
Using this below superb component. In this i need to show some default items in Destination LustBox.

https://czeckd.github.io/angular-dual-listbox/demo/

[2018-06-15 03:28] jaschulz commented on #36
Sorry for the delay on my answer. It took me a while to figure out what you meant by "app's base styles". I ended up creating a file called "hide.scss" which contains the lines you provided. I referenced it from file2.scss file like this:
@import "core/dual-list-box/hide";

Finally, file2.scss needs to be included in "styles" within .angular-cli.json file

[2018-06-18 14:35] nlptr commented on #63
HI when i try to console the above event, it only gives me the items that are added to destination array. It doesn't say anything about the event type (to know if its add/remove). How do i know the type of event?

[2018-06-18 15:56] nlptr opened #86 "How to know the type of"
HI when i try to console the above event, it only gives me the items that are added to destination array. It doesn't say anything about the event type (to know if its add/remove). How do i know the type of event?

[2018-06-25 07:30] czeckd commented on #86
The event always returns the items in the destination. So, if an item was removed from the destination it will not show up in the event. If you need an event more refined, extend the component to add them. The [custom-dual-listbox](https://github.com/czeckd/custom-dual-listbox) project shows an example of extending the component and adding a new event.

[2018-06-25 07:31] czeckd commented on #85
Add the default items to the destination array.

[2018-06-25 07:32] czeckd commented on #84
You'll need to customize the component. See #76 for details..

[2018-06-25 07:34] czeckd commented on #82
For filtering add `[filter]="true`, like:
[code]

[2018-06-25 07:34] #82 closed

[2018-06-26 15:57] curtisault opened #87 "Custom Service Call?"
Is there a way to fire a custom even when adding or removing items from the destination list? e.g. I have a service call I would like to make after items are add/removed from the destination list.

[2018-06-27 14:05] curtisault commented on #87
I forgot to follow up but I figured out how to make this happen by calling the destinationChange EventEmitter.

[code]

[2018-06-27 15:28] #87 closed

[2018-07-10 08:36] gauravshri12 commented on #84
Is there any repo for this, since i am new to angular.. any help much appreciated

[2018-07-10 11:24] gauravshri12 opened #88 "Need to set read only for default data in destination"

[2018-07-20 09:34] vietdq1291 opened #89 "Not Display data"
I have list object like this
userlstadd: Array<DualistDepartmentUserObject> = [];
confirmed: Array<DualistDepartmentUserObject> = [];

export class DualistDepartmentUserObject {
  ma: number;
  hoTen: string;
  tenDangNhap: string;
  tongso: number;
}

// Function get data
  GetUserToAdd(id: number) {
    this.service.DepartmentGetUserToAdd(id).subscribe(data => {
      this.userlstadd = data.grid

[2018-07-20 20:54] czeckd commented on #89
Can you show an example of the array being returned by DepartmentGetUserToAdd? Also, you may want to try this in the view instead:
[code]

Change is: **key="ma" display="hoTen"**.

[2018-08-13 11:39] BMLande opened #90 "can't bind json array"
app.html

[code]

app.ts

[code]

here above i am trying to bind json array but it will not showing / not binding data to ui, can you please reply here ASAP. thanks

[2018-08-13 15:52] czeckd commented on #90
Try changing your template to:
[code]

[2018-08-13 15:55] BMLande commented on #90
Yeah it's working , please update this with demo at npm repo , so everyone ur it...thanks for quick reply

[2018-08-13 15:55] #90 closed

[2018-11-04 06:14] #89 closed

[2018-11-04 06:15] #88 closed

[2018-11-04 06:16] czeckd commented on #88
Old issue and no details provided.

[2018-12-06 17:51] kfinch217 opened #93 "Resetting Values"
Hi,
I'm using the dual list in a form and when I reset the form I want all the values in the confirmed box to be moved back over to the available box then clear out the confirmed box.  I'm not entirely sure as to how to do that. I'm new to angular and coding

Thank you

[2018-12-07 11:47] kfinch217 commented on #93
Nevermind I figured it out

[2018-12-07 11:47] #93 closed

[2018-12-31 18:38] evilmonster18 opened #94 "Filter visual bug"
Hello,

So I'm currently trying to use the angular-dual-listbox in my application, but I'm having a visual bug that I am not being able to fix. Here it is:

![opera snapshot_2018-12-31_183619_localhost](https://user-images.githubusercontent.com/14255156/50565843-fe6f3800-0d2a-11e9-9608-1129326da341.png)

As you can see, everything is working as expected except the filter, which isn't showing up in

[2018-12-31 22:09] czeckd commented on #94
@evilmonster18 Please let me know which OS and browser are you are seeing this with.

[2018-12-31 22:44] tfadsilva commented on #94
@czeckd

OS: Windows 10 x64
Browser: Opera

[2019-01-02 00:02] tfadsilva commented on #94
I just tested it out on both Chrome and Edge as well and the exact same bug happens. I don't know if it helps, but here's the HTML file corresponding to the section 'Create New Catalog' in the image I attached initially in the post.

[code]

[2019-01-02 06:50] czeckd commented on #94
If the other browsers are doing this as well, it causes me to think that additional styles in your application or lack of bootstrap3 styles may be the cause. Can you run the demo on the website without issue?

[2019-01-02 14:25] tfadsilva commented on #94
Yes, the demo runs perfectly on the browser.

That's what I thought as well, that's why I went through the application and removed every single custom styling line of code AND added the basic bootstrap styling, and the problem still persisted

[2019-01-03 03:37] czeckd commented on #94
I ran your template adding `filter="true"` and commented out the `ngb-alert` with the following code:
[code]

Add this Bootstrap3 style only in the index.html:
[code]
This is how it rendered in Chrome:
![issue94](https://user-images.githubusercontent.com/17859320/50622773-d4ea1400-0ec4-11e9-9f7a-47fa65e51ee6.png)

One of the other styles you are using is causing interference.  This is the template

[2019-01-03 21:40] tfadsilva commented on #94
I found out the problem. It has nothing to do with the styles I already had in the application, but the one I was missing. My application is using a bootstrap style, but it's the version 2. As soon as I imported the version 3 that you linked, it worked. But since I can't really change the global bootstrap style of the application, since it ruins the entire UI, I have to keep the one I am already u

[2019-01-03 21:40] #94 closed

[2019-01-03 21:53] czeckd commented on #94
I'm glad you found the problem! If you still want to make the filter work, you could do a custom template for the dual-list. I have an example of how to do this here: https://github.com/czeckd/custom-dual-listbox

[2019-01-31 15:01] AjDevep opened #95 "horizontal scroll bar"
Please let me know how to add horizontal scroll bar rather than increasing width of the control. Vertical scroll bar is populated by default when I have more items, needed same horizontal scroll bar for wider items. Thank you.

[2019-02-04 06:01] sushmit-oodles opened #96 "Hover Description for List items"
Let's say I have an array of objects and each object has key "description". I'd like to show the description key's value (string) on hover of list items for each list item.

How do I do this?

[2019-02-10 23:15] nphias opened #97 "Extending with a Custom-dual-listbox fails to stat ENOENT in Angular 6+"
Hi there i was able to get this module installed and working fine in angular 6 (electron client)
then i decided I wanted to customise styles .. so I extended the module as described in the custom-dual-listbox repo.

It fails to compile saying that file is not available .. seems to resolve file path to the location of the package module (modules) ./src/* and not the location of where my extending c

[2019-02-11 07:19] czeckd commented on #97
Are you trying to customize this in an Angular CLI project, or the demo app that is part of this repo, or something else? If it is the demo app, then I'm not surprised. I recommend not using that.

I made a quick demo in StackBlitz here: [angular-s24kd2.stackblitz.io](https://stackblitz.com/edit/angular-s24kd2).

[2019-02-11 22:54] nphias commented on #97
I am sorry this was a dumb mistake.. i didnt have a relative URL in my templateUrl string.
nice module by the way.. will you be upgrading the packages to angular 7?

[2019-02-11 22:54] #97 closed

[2019-02-13 19:11] czeckd commented on #97
Since it is still working with Angular 7, is there a compelling reason to?

[2019-03-04 15:35] osmolyar opened #98 "Dual-list not rendering correctly with filter=true; filter input boxes appear in the middle of the select lists and filter icons are shifted to the right by approx. the width of the entire dual listbox"
In Firefox/Chrome/Edge, with filter="true" the css appears as shown below
![image](https://user-images.githubusercontent.com/15637471/53743563-1bc69c80-3e69-11e9-82d5-61dc4e714a26.png)

with the filter input box appearing midway between, and overlapping. the first and second items.   The filter icons are also shifted all the way to the right of the viewport.

[2019-03-12 07:41] czeckd commented on #98
In your example, it looks like you are not loading the Bootstrap 3 css. In the demo's index.html:
[code]
Here's the [demo](https://czeckd.github.io/angular-dual-listbox/demo/) with Firefox:

![bs3](https://user-images.githubusercontent.com/17859320/54182702-7a8aa800-445f-11e9-8b84-35d2f453c43f.png)

[2019-03-15 07:32] yatharthmishra95 opened #99 "Cant bind an array of json objects to angular-duallistbox with angular 6"
0

Currently nothing this being displayed in source list, the array of json is

[{deviceId: 101 , deviceName:"UK101"},
{deviceId: 102 , deviceName:"UK102"},
{deviceId: 103 , deviceName:"UK103"}]
I am currently making a service call to fetch this data, My HTML code is

 <dual-list [key]="deviceId" [(display)]="deviceName" [source]="source"
[(destination)]="target" height="150px"  ></dual-list>
But

[2019-03-15 08:23] czeckd commented on #99
Try:
[code]
Neither your key nor your display are typescript variables in your code, so just bind to the string.

[2019-03-15 09:04] yatharthmishra95 commented on #99
Thanks very much it works now.

[2019-03-15 09:04] #99 closed

[2019-03-19 05:12] yatharthmishra95 opened #100 "No data is displaying if getting the data from a service call (Angular 6)?"
Initially I am getting the data in both the source and destination lists if
I am saving the target list in the database for a pkid using an external submit button  ,After saving in the database, if I am searching the pkid and trying to display the related source and destination ,No data is getting populated, I am able to print both the source and destination data in the browser console.

 `this.ap

[2019-03-19 19:56] #98 closed

[2019-03-19 21:33] czeckd commented on #100
Are all the items in the destination/target array also in the source array?

[2019-03-21 14:39] mxm2go commented on #100
Firstly great library, thank you! And the ability to extend/customize is excellent.

I am having a similar issue.
Following code works, when the source and target are declared locally;

template:
`<dual-list  [source]="source" [(destination)]="target"></dual-list>`
typescript:
[code]

However, when I switch to using a service, there's nothing to display.
From a different list on the same page, whe

[2019-03-21 17:23] mxm2go commented on #100
My apologies. The error was in my code and not in the dual-listbox framework. My service was returning an array of Book objects with all of them having the _id: set to 0.

I needed to include the index in the second map call to resolve this,

getAllBooksForUser(id: number): Observable<Book[]> {
    const url = `${this.booksUrl}/${id}`;
    return this.http.get<ExtendedBook[]>(url)
        .pipe(ma

[2019-03-22 06:26] yatharthmishra95 commented on #100
@czeckd Thanks for the answer ,the items of destination array were not present in the source array, as I set the souce array to null in the service call, but after setting the source array equal to the destination array in the service call the issue is resolved.

[2019-03-22 06:26] #100 closed

[2019-03-27 11:28] Saravanan-Kumar opened #101 "How to add tree structure in the source list"

[2019-03-27 14:02] Saravanan-Kumar commented on #101
How to add a list inside the source = [ 'A', 'Rook', 'Knight', ''Knight1'['A', 'Rook', 'Knight', 'Bishop','assdf']', 'Queen', 'King','assdf' ];

[2019-04-01 13:35] Suhas-Nadarge commented on #6
after selecting each options, How can we pass individual value? Can you exxplain please

[2019-04-04 13:01] yatharthmishra95 opened #102 "Can we add two lists in the source and destination?"
Actually I want to add "Color id"," Color" columns  ,Ex- Color id:1 ,Color:Red ,Color id:2, Color:Green
![ANGULARDUALISTBOX](https://user-images.githubusercontent.com/19364421/55557554-b97ee700-5707-11e9-8c32-5fa05419cb40.jpg)  ,Thanks

[2019-04-04 21:22] czeckd commented on #102
You can either develop a customized template (html) for this or, if you don't actually need columns pass in how you want a name to be made. From the source [dual-list.component.ts](https://github.com/czeckd/angular-dual-listbox/blob/master/lib/src/dual-list.component.ts):
[code]
So, something like this might work for your use case:
[code]
Assuming the parameters are `id` and `color` of course. Thi

[2019-04-05 08:05] yatharthmishra95 commented on #102
Thanks for the answer.

[2019-04-05 08:05] #102 closed

[2019-05-17 03:36] Gajendrasinh opened #104 "Unexpected token: name (BasicList)"
Hello

Bellow error is given when i will try to build AOT build using ng build --prod command in angular 2

ERROR in vendor.3dc5fb37db37c2ace216.bundle.js from UglifyJs
Unexpected token: name (BasicList) [vendor.3dc5fb37db37c2ace216.bundle.js:41363,6]

[2019-05-17 20:08] czeckd commented on #104
This project isn't using the Angular CLI. Use npm start to run and npm run dist to build the library distribution.

[2019-05-31 04:34] rohit7692 commented on #96
Any Suggestions?? as i am also facing the same issue

[2019-06-10 07:24] czeckd commented on #104
This project has been converted now to use Angular CLI and Angular 8.

[2019-06-10 07:24] #104 closed

[2019-06-25 02:59] prithvirajrmd2015 commented on #64
Hi consider my array object is structured like
`{type:textfield,
        controldef:{
           key:"1",label:"fullname"}}`
now i want to use the key as my identifies so n html template i gave

`<dual-list [sort]="true" [key]="controldef.key" [(display)]="name"
   [source]="permissions" [(destination)]="target"></dual-list>`

but its not working can you suggest me what i have to do.

[2019-07-31 07:11] junaidbinsarfraz commented on #95
In css, `div.record-picker` horizontal scroll bar is deliberately hidden
`overflow-x: hidden`

Until any solution provided, you can override/change css to `overflow-x: auto;` as a way around. This will be applied for both source and destination lists.

[2019-08-30 21:06] shaikhspear16 opened #108 "How do you extend DualListComponent?"
I am asked to make a super call and supply parameters to it of type 'IterableDiffers'. How can I achieve that ?

[2019-08-30 21:20] czeckd commented on #108
The [custom-dual-listbox](https://github.com/czeckd/custom-dual-listbox) on github is an example project. In it you will see that you pass the differs to the super construction.

[code]

[2019-09-03 23:18] #108 closed

[2019-09-03 23:24] shaikhspear16 opened #109 "Unable to set Destination Values"
I am successfully able to bind source values. I am unable to bind the destination array.
The arrays are in the same format.

.html
[code]

.ts
[code]

[2019-09-16 10:55] RoystonDmello commented on #109
Even I am having the same issue.

My destination array is coming from a service.

[2019-09-16 11:04] RoystonDmello commented on #109
Okay, so I've been using it incorrectly. And I guess so have you.

The destination must be a subset of the source.

https://github.com/czeckd/angular-dual-listbox/issues/55

[2019-10-20 06:19] teja22060 commented on #109
Even i am getting destination array as empty any suggestions

[2019-11-15 06:22] noumanbhatti opened #111 "this.availableSearchInputControl.valueChanges.debounceTime is not a function + Angular 8 , Webpack 4"
Do we have a updated version compatible with Angular 8?
currently the control does work but the error is thrown on page load where this control is used.

The error is shown below
![Capture](https://user-images.githubusercontent.com/4026490/68921317-7cfe8800-07cc-11ea-8355-fcea869595b4.PNG)

[2019-11-15 06:23] #111 closed

[2019-11-17 15:24] Ahmadburghol opened #112 "When disable dual-list the add button still Active"
1- Select an item from dual list
2- disabel dual list
3- add button still clickable

[2019-12-13 07:15] nphias commented on #84
i could really do with this feature... surely someone has done this.. a forker perhaps.. please share! :)

[2019-12-31 02:45] shareeef commented on #109
The documentation is little confusing. Finally understood that the source has to be full list of items and destination has to be subset. For example:
source = [1,2,3,4,5]
destination=[1,2]

Control will take care of displaying [3,4,5] in source and [1,2] in the destination.
So make sure source have all the items in the list and destination will have subset of the source based on the key of the obj

[2020-01-12 13:54] aykutyilmaz37 opened #114 "How can I groupable list"
hello, i want to  create  list look like and target list move

Javascript
 -> Angular
 -> React
 -> Vue
Css
 -> Sass
 -> Less
etc.

How can i groupable  and  when i selecte group  move target list?
thank you

[2020-02-27 07:26] yj854v opened #115 "Responsive Design"
Do you have responsive design available for this component, it would be great to have it. if so, please share the link on how to implement it.

[2020-02-27 07:36] czeckd commented on #115
Put the component in a div and make the div size to whatever screen width you need it to be. The component sizes to 100% of the size of it's parent, so it will expand to fill the div.

Also will note the [demo](https://czeckd.github.io/angular-dual-listbox/) resizes correctly to screen size.

[2020-02-27 07:39] #115 closed

[2020-02-28 04:38] yj854v commented on #115
Thanks for the quick and prompt response.

On Thu, Feb 27, 2020 at 1:06 PM David Czeck <notifications@github.com>
wrote:

[2020-03-06 09:32] vijayakumarrajug commented on #99
Hi Team,
Preselected values are not displaying in right  side box.
The preselected values are array of objects.
example: let selectedList:Array<any> = [
      { key: 26, station: 'Hermosa', state: 'CO' },
    { key: 27, station: 'Rockwood', state: 'CO' },
    { key: 28, station: 'Tacoma', state: 'CO' }
    ];
The  selectedList will be API response.
this.confirmedStations = selectedList;

I'm not a

[2020-03-06 09:37] vijayakumarrajug opened #116 "Can't bind the confirmed (destination) box values are not displaying on right side box If the confirmed is array of objects dynamicallly."
If anybody know please help on this issue.

[2020-03-06 09:43] vijayakumarrajug commented on #85
Not working:
let selectedList:Array<any> = [
      { key: 26, station: 'Hermosa', state: 'CO' },
    { key: 27, station: 'Rockwood', state: 'CO' },
    { key: 28, station: 'Tacoma', state: 'CO' }
    ]
this.confirmedStations = selectedList;

[2020-04-16 06:37] avinash-k opened #118 "Key board navigation of List box"
Not able to perform keyboard navigation for accessibility

[2020-04-18 19:31] harishajdarevic opened #120 "Can't add more item if destination array is pre-defined"
What is happening is that it doesn't work if destination array is already predefined.

If I set destination array as predefined and then try to add more items I'm getting the error:

[code]

[2020-04-18 20:10] harishajdarevic commented on #120
The problem occurs only if source and destination are array of objects. With array of strings it works as expected.

[2020-04-19 04:00] czeckd commented on #120
Without seeing the source for your custom-listbox and the arrays of objects, it is impossible for me to guess the cause. Can you create a small reproducer in [stackblitz](https://stackblitz.com/) of the problem you are having?

I am not seeing it in the [demo](https://czeckd.github.io/angular-dual-listbox/), which uses arrays of objects.

[2020-05-26 20:16] biskit1 opened #121 "source/destination not properly updated when source contents are changed"
Hi @czeckd,
First of all, this is an awesome little Module- thank you for making it!
I had a question about some customization, hoping you can provide some insight. Not sure if the way I'm going about it does not work because of some bug in my code, or because of the behavior of the component, but if you recognize it as being a component thing and can give me some pointers that'd be much appreciat

[2020-05-27 05:29] czeckd commented on #121
It's a fairly complicated scenario that I am not 100% certain I followed clearly.

From what you described, I understand this is you have this as your components:
![biskitcomp](https://user-images.githubusercontent.com/17859320/82980223-c6ab0500-9f9d-11ea-9383-fd80236aa29d.png)

Through some mechanism in the parent (outside of dual-list component) you are changing the allSourceOptions so that it d

[2020-06-11 21:41] biskit1 commented on #121
Thanks for taking the time to respond and explain. This is very helpful. Feel free to close issue :)

[2020-06-11 23:45] #121 closed

[2020-07-06 19:47] renanvm commented on #120
Same issue here. I'm using Angular 8.

[2020-07-06 21:59] czeckd commented on #120
@renanvm - could you provide a small code sample that reproduces the error?

[2020-07-07 11:09] renanvm commented on #120
`<div class="container">
      <div class="row">
        <div class="col-12">
          <dual-list [source]="regioes" [height]="'300px'" [format]="format" [(destination)]="regioesSelecionadas"></dual-list>
        </div>
      </div>
    </div>`

`export class DistribuidorRegiaoComponent implements OnInit {

  regioes: any[] = [];
  regioesSelecionadas: any[] = [];

 ngOnInit() {
     this.regiaoS

[2020-07-07 15:31] czeckd commented on #120
@renanvm - in your example, what is an example of res.body?

[2020-07-07 16:18] renanvm commented on #120
`(2) [{…}, {…}]
0: {id: 1051, nome: "Norte", distribuidor: null}
1: {id: 1052, nome: "Sul", distribuidor: null}
length: 2
__proto__: Array(0)`

[2020-07-08 05:54] czeckd commented on #120
@renanvm: Please change your template to be:
[code]

Here is the code I used for the component:
[code]

Here's what I used for the service:
[code]
I'm not seeing any errors and I see Norte and Sul available to select. Either this is not the same issue @harishajdarevic saw or the reproducer is not complete enough for your use case to replicate the error or it was a simple misconfiguration not provi

[2020-07-08 12:13] renanvm commented on #120
Thanks @czeckd . Now everything is working. Really was a misconfiguration.

[2020-09-02 10:35] Aliaksandr-Padabed opened #125 "Error when use async pipe for source"
problem is here:
[code]
not emitted observable has null value

[2020-10-07 15:40] niskah-energies opened #126 "Icons with label"
Hi,

Is there a way to add an icon before label ??

Thanks.

[2021-01-06 05:02] JahazielSam opened #127 "Build error"
Getting the below error while run & build.

`ERROR in node_modules/angular-dual-listbox/lib/basic-list.d.ts(14,9): error TS1086: An accessor cannot be declared in an ambient context.`

While i have the below code in the file which meets this error.

`export declare class BasicList {
    /** Name of the list */
    private _name;
    /** Last element touched */
    last: any;
    /** text filter */

[2021-01-06 05:32] czeckd commented on #127
Try setting  `"skipLibCheck": true` in `tsconfig.json`.
[code]

[2021-01-06 05:59] JahazielSam commented on #127
Thanks a lot @czeckd . That worked !!

[2021-01-06 09:38] JahazielSam commented on #116
Same issue

[2021-01-14 19:15] evandro-mota opened #128 "How to configure sorting option?"
I'm currently displaying multiple properties on my list (name, value), and I need it to be sorted by value.
But the default option is sorting the list by name. How can I change that?

I've tried something like the code below on _destinationChange_
`this.available.list.sort((n1, n2) => n1._id - n2._id);`
But I can't get direct access to the properties of the object.

[2021-01-15 09:56] czeckd commented on #128
Create a sort function like this in your source code, such as:
[code]
And add the `compare` attribute to your use of `dual-list` in the template, like so:
[code]

[2021-01-15 12:14] evandro-mota commented on #128
Thanks!

[2021-01-15 12:14] #128 closed

[2021-03-08 13:02] edoura commented on #71
I'm using [custom](https://github.com/czeckd/custom-dual-listbox) and ```[format]="{ draggable: false }"``` it's not working

[2021-03-08 17:04] czeckd commented on #71
@edoura without seeing your template in your custom, it is impossible to troubleshoot. If I had to guess, then it would be you omitted code like `[draggable]="!disabled && format.draggable"` from the `<li #itmConf>` in the `<div class="record-picker">`.

[2021-03-09 00:12] edoura commented on #71
Thank you very much @czeckd. My model is very similar to the one you provided. It was exactly what you observed :+1:

[2022-07-15 08:51] spike-rabbit opened #149 "Angular 14"
Is it possible to bump angular to version 14 so that there is an ivy-compiled bundle? I can provide a PR

[2022-07-20 04:11] czeckd commented on #149
It's possible, but with this using Bootstrap 3.x for styling, it's woefully out of date in other regards too.

[2022-07-22 11:26] spike-rabbit commented on #149
ok, thanks for your reply. I'll discuss this with my team. Replacing the angular-dual-listbox would cause some effort, that's why we consider providing an angular update upstream here.
Guess we will then consider upgrading everything else as well.

[2022-07-23 02:37] czeckd commented on #149
Your team could always pull the source code for the dual-listbox into your application and upgrade it as part of the app. I'll take a look at what is involved with going from ng10 to ng14. Maybe it makes sense even with Bootstrap 3?

[2022-07-23 04:23] #149 closed

[2022-07-23 04:33] czeckd commented on #149
@spike-rabbit  angular-dual-listbox@7.0.0 is now Angular 14 and Ivy.

[2022-07-27 09:59] spike-rabbit commented on #149
thanks a lot. The warning by the angular-cli is gone.

[2022-08-01 18:26] emilefokkema opened #151 "bug in filtering"
Reproduction:

- use the following list of options on the 'source' side:
[code]
- turn filtering on
- try to filter the source on 'a'

Expected: only the 'a' options remains on the 'source' side
Actual: all options remain visible on the 'source' side

[2022-09-01 14:20] Dark0rion commented on #109
do not delete records from the source list because if you do so in the destination list the selected objects will not appear